#!/bin/bash

repo_name="graylog_elasticsearch_backup"
timestamp=$(date +%Y%m%d)
es_url="http://localhost:9200/_snapshot/${repo_name}"
limit_snapshots=2 #snapshot retention period

# append date on begining of snapshot creation
echo "$(date --iso): Backing up elasticsearch cluster..." >> es_backup.out.log

# create elasticsearch index snapshot
curl -X PUT "localhost:9200/_snapshot/${repo_name}/${timestamp}?wait_for_completion=true&pretty" >>es_backup.out.log 2>&1

old_snapshots=`curl -m 30 -s -XGET "$es_url/_all" -H 'Content-Type: application/json' | jq -r ".snapshots[:-${limit_snapshots}][].snapshot"`

echo $old_snapshots[1]
# Loop over the results and delete old snapshots
for snapshot in ${old_snapshots}
do
 echo "Deleting snapshot: $snapshot"
 curl -m 30 -s -XDELETE '${es_url}/$snapshot?pretty'
done
echo "Done!"